/* Base */
html {
    width: 100% !important;
    height: 100% !important;
    position: relative;
}

body {
    width: 100% !important;
    height: 100% !important;
    letter-spacing: 0.03em;
    -webkit-font-smoothing: antialiased;
    animation-duration: 4s !important;
    animation-delay: 1s !important;
    background-color: #fff;
    font-size: 13px;
    line-height: 24px;
    color: #1d1d1d;
}

a {
    color: #2f2f2f;
}

a:hover {
    text-decoration: none;
    color: #f9a61a;
}

.no-transform {
    text-transform: none;
}

p {
    margin: 0 0 35px;
}

a {
    text-decoration: none;
    color: #000;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}

a img {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}

img {
    -webkit-filter: blur(0);
    filter: blur(0);
}

a, img, :focus, input {
    outline: none !important;
}

a:hover, a:focus {
    color: #666;
    text-decoration: none;
}

a img:hover {
    opacity: .7;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 35px;
    line-height: 1.5;
    font-weight: 300;
}

h5, h6 {
    margin: 0 0 20px;
    font-weight: 300;
}

h1 {
    font-size: 22px;
    font-family: IRANSans;
}

h2 {
    font-size: 20px;
    font-family: IRANSans;
}

h3, h4 {
    font-size: 18px;
    font-family: IRANSans;
    padding: 2px 0;
    margin: 1px 0;
}

h5, h6 {
    font-size: 16px;
    font-family: IRANSans;
}

/* Bootstrap custom */
.nav-tabs {
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .navbar-default .navbar-form {
        width: 250px;
    }
}

.pi-navbar-nav ul {
    display: none;
}

@media (min-width: 768px) {
    .pi-navbar-nav li {
        position: relative;
    }

    .pi-navbar-caret {
        display: none;
        width: 0;
        height: 0;
        position: absolute;
        left: 50%;
        bottom: -1px;
        margin-left: -8px;
        border-bottom: 8px solid #fff;
        border-right: 8px solid transparent;
        border-left: 8px solid transparent;
        z-index: 1002;
    }

    .pi-navbar-caret-outer {
        border-bottom: 8px solid #c2c2c2;
        bottom: 0;
        z-index: 1001;
    }

    .pi-navbar-nav li:hover > ul,
    .pi-navbar-nav li:hover .pi-navbar-caret {
        display: block;
    }

    .pi-navbar-nav ul .dropdown-menu {
        left: 100%;
        top: -5px;
    }
}

/* Block */
.pi-block {
    margin-bottom: 20px;
}

.pi-block-title {
    padding: 10px;
    border-bottom: 1px solid #000;
    margin-bottom: 10px;
}

.pi-block-title h2,
.pi-block-title h3 {
    font-size: 1.2em;
    padding: 0;
    margin: 0;
}

.pi-panel-subline {
    float: right;
}

.pi-panel-tab .panel-heading {
    padding: 0;
    height: 40px;
}

.pi-panel-tab-indicators {
    margin: 0 0 -1px 0;
    padding: 0;
    height: 40px;
    line-height: 40px;
}

.pi-panel-tab-indicators li {
    display: inline-block;
}

.pi-panel-tab-indicators a {
    padding: 0 15px;
    cursor: pointer;
    display: block;
    color: #333;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}

.pi-panel-tab-indicators li:first-child a {
    border-left: none;
}

.pi-panel-tab-indicators .active a {
    font-weight: bold;
    border-color: #ddd;
    background: #fff;
}

.panel-body > :last-child {
    margin-bottom: 0;
}

.panel-body ul,
.panel-body ol {
    /* margin-left: -20px; */
}

/* logger */
#pi-logger-output {
    position: relative;
}

/* list or order list */
.pi-list {

}

.pi-order-list {

}

/* Module custom */
.tag-terms a {
    padding: 0 5px;
}

/* Player */
.pi-player {
    padding: 10px 0;
}

.pi-player .video-js {
    margin: 0 auto;
}

.pi-map-canvas {
    height: 400px;
}

/* Elements */
fieldset dl {
    margin-top: 0;
}

form .icon-question-sign {
    color: #0089D1;
    float: left;
    cursor: pointer;
    margin: 6px 0 0 1px;
    padding: 2px;
}

/* Components */
.page-header {
    margin: 0 0 15px 0;
}

.page-header h1,
.page-header h2 {
    margin: 0;
    font-size: 30px;
}

.page-header .nav {
    margin-bottom: 0;
}

.page-header .search-query {
    border-radius: 5px;
}

/** Pi Specific **/
/* Elements */
.dl-horizontal dt {
    width: 120px;
}

.dl-horizontal dd {
    margin-left: 140px;
}

/* ellipsis with rows/lines : line height is fixed */
.pi-ellipsis {
    overflow: hidden;
    display: block;
    line-height: 1.5;
}

/* Max 1 - 10 row(s)/line(s) */
.pi-ellipsis-1 {
    text-overflow: ellipsis;
    white-space: nowrap;
}

.pi-ellipsis-2 {
    max-height: 3em;
}

.pi-ellipsis-3 {
    max-height: 4.5em;
}

.pi-ellipsis-4 {
    max-height: 6em;
}

.pi-ellipsis-5 {
    max-height: 7.5em;
}

.pi-ellipsis-6 {
    max-height: 9em;
}

.pi-ellipsis-7 {
    max-height: 10.5em;
}

.pi-ellipsis-8 {
    max-height: 12em;
}

.pi-ellipsis-9 {
    max-height: 13.5em;
}

.pi-ellipsis-10 {
    max-height: 15em;
}

/* Components */
.pi-divider {
    font-family: serif, sans-serif;
    margin: 0 6px;
    color: #ccc;
}

.pi-legend {
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 18px;
    padding: 9px 10px;
    color: #333333;
    border: 0;
    border-bottom: 1px solid #d7d7d7;
}

/* Box with border */
.pi-widget {
    margin-bottom: 20px;
    border: 1px solid #d7d7d7;
}

.pi-widget-header {
    padding: 5px 10px;
    background: #F8F8F8;
    border-bottom: 1px solid #d7d7d7;
}

.pi-widget-body {
    padding: 18px 20px;
}

.pi-widget-body > :last-child {
    margin-bottom: 0;
}

/* Avatar */
/* @see: https://github.com/pi-engine/pi/wiki/Design.Avatar */
.pi-avatar {
    width: 80px;
}

.pi-avatar-mini {
    width: 16px;
}

.pi-avatar-xsmall {
    width: 24px;
}

.pi-avatar-small {
    width: 28px;
}

.pi-avatar-medium {
    width: 46px;
}

.pi-avatar-large {
    width: 96px;
}

.pi-avatar-xlarge {
    width: 120px;
}

.pi-avatar-xxlarge {
    width: 214px;
}

/* header */
.pi-header {
    display: table;
    width: 100%;
    color: #fff;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
    background: url('../image/bg-header.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    height: 300px !important;
    z-index: 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

#pi-system .pi-header {
    background: url('../image/bg-header-system.jpg');
    height: 600px !important;
}

.pi-header a {
    color: #fff;
}

.pi-header a:hover {
    color: #ccc;
    text-decoration: none;
}

.pi-header-half {
    height: auto !important;
}

.pi-header .pi-header-body {
    display: table-cell;
    vertical-align: middle;
    padding: 170px 20px 80px;
    width: 100% !important;
    text-align: center !important;
    position: relative;
    z-index: 1;
}

.pi-header-fullscreen .pi-header-body {
    padding: 70px 0;
}

.pi-header-body:before {
    content: "";
    left: 0;
    top: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -9;
}

.pi-header .pi-header-body .brand-heading {
    font-size: 40px;
    font-weight: 800;

    margin: 0 0 5px;
}

.pi-header h1 {
    font-size: 60px;
    font-weight: 100;
    line-height: 80px;
}

.pi-header h1.classic {
    font-size: 100px;
    line-height: 100px;
    margin: 50px auto !important;
    text-align: center !important;
}

.pi-header .lead {
    margin: 50px 0 0;
}

.pi-header-fullscreen {
    opacity: 1 !important;
}

@keyframes kenburns {
    0% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

@media (min-width: 768px) {
    .pi-header {
        padding: 0;
    }

    .pi-header .pi-header-body .brand-heading {
        font-size: 46px;
    }

    .pi-header .pi-header-right {
        float: right !important;
    }

    .pi-header .pi-header-left {
        float: left !important;
    }
}
/* .pi-header {

    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    padding-top: 15px;
    display: table;
    text-align: center;
    color: #fff;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
    height: 100% !important;
    z-index: 0;
}

#pi-system .pi-header {
    background: url('../image/bg-header-system.jpg') no-repeat center center;
    height: 600px;
}

.pi-header h1,
.pi-header h2 {
    padding: 1px;
    margin: 1px;
    font-size: 35px;
}

.pi-header .navbar-default {
    margin-bottom: 0;
    border-radius: 0;
    background: inherit;
    border: 0;
    height: 60px;
}

.pi-header .pi-header-body .navbar-default .navbar-header img {
    padding-top: 5px;
}

.pi-header .pi-header-body .navbar-default .navbar-nav > li > a {
    color: #fff;
    font-weight: bold;
}

.pi-header .pi-header-body .navbar-default .navbar-nav > li > a:hover,
.pi-header .pi-header-body .navbar-default .navbar-nav > li > a:focus {
    color: #fff;
    border-bottom: 1px solid #f9a61a;
}

.pi-header .pi-header-body .navbar-default .navbar-nav > .active > a,
.pi-header .pi-header-body .navbar-default .navbar-nav > .active > a:hover,
.pi-header .pi-header-body .navbar-default .navbar-nav > .active > a:focus {
    color: #f9a61a;
    background-color: transparent;
    border-bottom: 0;
}

.pi-header .pi-header-search .img-responsive {
    margin: 35px auto;
}

.pi-header .navbar-inverse {
    border-radius: 0;
}

@media (min-width: 768px) {
    .pi-header .pi-header-right {
        float: right;
    }

    .pi-header .pi-header-left {
        float: left;
    }
} */

/* section */
.pi-section {
    color: #3b393a;
    padding: 15px 0;
}

#pi-system .pi-section {
    padding: 0;
}

.pi-section .pi-section-process {
    background: #f1f0ec;
    padding: 55px 0;
}

.pi-section .pi-section-process img {
    padding: 25px 50px;
    text-align: center;
}

.pi-section .pi-section-about {
    background: #fff;
    padding: 55px 0;
}

.pi-section .pi-section-service {
    background: url('../image/bg-service.jpg') no-repeat center center /*fixed*/;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 400px;
    padding: 105px 0 55px 0;
    color: #fff;
}

.pi-section .pi-section-service img {
    padding: 5px 60px 15px 60px;
    text-align: center;
}

@media (max-width: 768px) {
    .pi-section .pi-section-service {
        min-height: 800px;
    }
}

.pi-section-portfolio {
    background: #fff;
    padding: 55px 0 0 0;
    overflow-x: hidden;
}

.pi-section-portfolio .container-fluid {
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-right: auto;
    margin-left: auto;
}

.pi-section-portfolio .pi-section-body {
    padding-top: 15px;
}

.pi-section-divider-1 {
    background: url('../image/bg-divider-1.jpg') no-repeat center center /*fixed*/;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 300px;
    padding: 25px 0;
    color: #fff;
}

.pi-section-divider-1 p {
    text-align: center;
    font-size: 18px;
    margin-top: 15px;
}

@media (min-width: 768px) {
    .pi-section-divider-1 p {
        text-align: center;
        font-size: 40px;
        margin-top: 100px;
    }
}

.pi-section-help {
    background: #fff;
    padding: 55px 0;
}

.pi-section-newsletter {
    background: url('../image/bg-newsletter.jpg') no-repeat center center /*fixed*/;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 300px;
    padding: 25px 0;
    color: #fff;
}

.pi-section-blog {
    background: #fff;
    padding: 55px 0;
}

.pi-section-count {
    background: url('../image/bg-count.jpg') no-repeat center center /*fixed*/;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 300px;
    padding: 25px 0;
    color: #fff;
}

.pi-section-count-number {
    font-size: 65px;
    padding: 55px 0 35px 0;
}

.pi-section-count-title {
    font-size: 20px;
    padding: 15px 0;
}

.pi-section-why {
    background: #fff;
    padding: 55px 0;
}

.pi-section-why img {
    padding: 5px 60px 15px 60px;
    text-align: center;
}

.pi-section-customer {
    background: #fff;
    padding: 55px 0;
}

.pi-section-video {
    background: url('../image/bg-video.jpg') no-repeat center center /*fixed*/;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 300px;
    padding: 25px 0;
    color: #fff;
}

.pi-section .pi-section-title h2 {
    text-align: center;
}

.pi-section .pi-section-title h2.no-span {
    display: table;
    white-space: nowrap;
}

.pi-section .pi-section-title h2.no-span:before,
.pi-section .pi-section-title h2.no-span:after {
    border-top: 2px solid #808080;
    content: '';
    display: table-cell;
    position: relative;
    top: 0.5em;
    width: 50%;
}

.pi-section .pi-section-title h2.no-span:before {
    left: 50px;
}

.pi-section .pi-section-title h2.no-span:after {
    right: 50px;
}

.pi-section .pi-section-icon img {
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 768px) {
    .pi-section .pi-section-icon h3 {
        margin-top: 5px;
        margin-bottom: 5px;
        padding-bottom: 0;
        padding-top: 0;
    }

    .pi-section .pi-section-icon h4,
    .pi-section .pi-section-icon p {
        margin-top: 5px;
        margin-bottom: 65px;
        padding-top: 0;
    }

    .pi-section .pi-section-icon img {
        margin-top: 5px;
        margin-bottom: 5px;
        padding-bottom: 0;
        padding-top: 0;
    }
}

@media (min-width: 768px) {
    .pi-section-box-divider {
        background: url('../image/icon-divider.png');
        background-repeat: no-repeat;
        background-position: left center;
    }
}

.pi-section .pi-module-content {
    padding: 15px 0;
    margin-bottom: 15px;
}

/* footer */
.pi-footer .pi-footer-contact {
    background: url('../image/bg-contact.jpg') no-repeat center center /*fixed*/;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 500px;
    padding: 25px 0;
    color: #fff;
}

.pi-footer .pi-footer-contact h3 {
    padding: 15px 0;
}

.pi-footer .pi-footer-contact ul li {
    padding: 5px 0;
}

.pi-footer .pi-footer-contact ul li i {
    background: #fff;
    width: 25px;
    height: 25px;
    color: #2f2f2f;
    font-size: 16px;
    padding: 4px 5px;
    border-radius: 50%;
    text-align: center;
}

.pi-footer .pi-footer-contact label {
    background: inherit;
    color: #fff;
}

.pi-footer .pi-footer-contact .form-control {
    background: inherit;
    border-radius: 0;
    color: #fff;
}

.pi-footer .pi-footer-contact .btn-default {
    color: #fff;
    background: inherit;
    border-color: #ccc;
    border-radius: 0;
}

.pi-footer .pi-footer-map-canvas {
    height: 500px;
}

.pi-footer .pi-map {
    background: #f6f6f6;
}

.pi-footer .pi-map .thumbnail {
    padding: 0 !important;
    border: 0 !important;
    background: #f6f6f6;
}

.pi-footer .pi-footer-body {
    background: #f6f6f6 !important;
    padding: 25px 0;
}

.pi-footer .pi-footer-body h4 {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 2px solid #2f2f2f;
    width: 220px;
}

.pi-footer .pi-footer-body ul li {
    padding: 10px 0;
}

.pi-footer .pi-footer-copyright {
    background: #fff !important;
    padding: 25px 0;
}

.pi-footer .pi-footer-copyright a {
    color: #858585;
}

.pi-footer .pi-footer-copyright a:hover {
    color: #f9a61a;
}

.pi-footer .pi-footer-social ul li a {
    display: inline-block;
    border: 1px solid #858585;
    width: 25px;
    height: 25px;
    text-align: center;
    padding-top: 1px;
}

.pi-footer .pi-footer-social ul li a:hover {
    border: 1px solid #f9a61a;
}

.pi-footer .pi-footer-social ul li a i {
    font-size: 16px;
}

@media (max-width: 768px) {
    .pi-footer .pi-footer-copyright .col-xs-12 {
        text-align: center !important;
    }

    .pi-footer .pi-footer-body .col-xs-12 {
        text-align: center !important;
    }

    .pi-footer .pi-footer-body h4 {
        margin: 15px auto;
    }

    .pi-footer .pi-footer-social {
        text-align: center !important;
        margin: 15px;
    }

    .pi-footer .pi-footer-contact {
        min-height: 800px;
    }
}

/* userbar */
.welcome-user-bar {
    display: inline-block;
    padding: 15px;
}

/* search */
.search-block input.form-control {
    background: inherit;
    border-color: #f9a61a;
    color: #fff;
    border-left: 0;
}

.search-block .btn-default {
    background: inherit;
    border-color: #f9a61a;
    color: #fff;
    border-right: 0;
}

.search-block .input-group input[type="text"] {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 16px !important;
    border-top-right-radius: 16px !important;
}

.search-block .input-group .input-group-btn .btn {
    border-bottom-left-radius: 16px;
    border-top-left-radius: 16px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

/* owl */
.owl-nav [class*='owl-'] {
    background: inherit !important;
    font-size: 30px !important;
}

.owl-nav [class*='owl-']:hover {
    color: #f9a61a !important;
}

.owl-stage-outer {
    margin: 0 80px !important;
}

.owl-next {
    width: 15px;
    height: 100px;
    position: absolute;
    top: 30%;
    left: 25px;
    display: block !important;
}

.owl-prev {
    width: 15px;
    height: 100px;
    position: absolute;
    top: 30%;
    right: 25px;
    display: block !important;
}

/* Preloader */
#preloader {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background-color: #fff;
    z-index: 99999;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#status {
    position: absolute;
    left: 47%;
    top: 50%;
    margin: auto;
    width: 49px;
    height: 49px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    background: #d3bd98;
    animation: 1.15s infinite ease-in-out;
    -webkit-animation: 1.15s infinite ease-in-out;
    -moz-animation: 1.15s infinite ease-in-out;
    animation-name: loader;
    -webkit-animation-name: loader;
    -moz-animation-name: loader;
}

#status:before, #status:after {
    animation: 1.15s infinite ease-in-out;
    -webkit-animation: 1.15s infinite ease-in-out;
    -moz-animation: 1.15s infinite ease-in-out;
}

#status:before, #status:after {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
}

@keyframes loader {
    from {
        transform: scale(0);
        opacity: 1;
    }
    to {
        transform: scale(1);
        opacity: 0.5;
    }
}

@-ms-keyframes loader {
    from {
        -ms-transform: scale(0);
        opacity: 1;
    }
    to {
        -ms-transform: scale(1);
        opacity: 0.5;
    }
}

@-webkit-keyframes loader {
    from {
        -webkit-transform: scale(0);
        opacity: 1;
    }
    to {
        -webkit-transform: scale(1);
        opacity: 0.5;
    }
}

@-moz-keyframes loader {
    from {
        -moz-transform: scale(0);
        opacity: 1;
    }
    to {
        -moz-transform: scale(1);
        opacity: 0.5;
    }
}

.no-pad {
    padding: 0 !important;
    margin: 0 !important;
}

.no-pad-btm {
    padding-bottom: 0 !important;
}

.no-pad-top {
    padding-top: 0 !important;
}

.overlay {
    background: rgba(0, 0, 0, 0.7);
}

.overlay-gray {
    background: rgba(0, 0, 0, 0.15);
}

.overlay-white {
    background: rgba(255, 255, 255, 0.5);
}

.overlay, .overlay-gray, .overlay-white {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
}

.image-overlay {
    padding: 0;
    margin-top: -55px;
    position: relative;
}

.big {
    font-size: 300px;
    line-height: 1;
    text-shadow: none;
}

section, .section {
    position: relative;
    z-index: 992;
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #fff;
}

.section-small {
    padding-top: 80px;
    padding-bottom: 80px;
}

.list-inline > li {
    padding-bottom: 10px;
    vertical-align: bottom;
}

.label, input, .btn, textarea, .dropdown-menu, .panel, .progress, .list-group-item, select {
    border-radius: 0 !important;
}

.label {
    padding: 0.3em .5em .2em 0.8em;
    font-weight: 400;
}

.label-danger {
    background-color: #c00;
}

.badge {
    font-weight: 300;
    line-height: inherit;
    border-radius: 2px !important;
}

/* Buttons */
.btn {
    font-size: 12px !important;
    letter-spacing: 2px;
    outline: 0;
    text-transform: uppercase;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    text-shadow: none;
    text-decoration: none;
    font-weight: 400;
    padding: 8px 25px;
}

.btn-lg {
    font-size: 13px !important;
    padding: 10px 35px;
}

.btn-sm {
    font-size: 11px !important;
    padding: 6px 15px;
}

.btn-xs {
    font-size: 10px !important;
    padding: 4px 10px;
}

.btn-border {
    border: 2px solid #fff;
    color: #fff !important;
    background-color: transparent;
}

.btn-dark-border {
    border: 1px solid #000;
    color: #000;
    background-color: transparent;
}

.btn-white {
    border: 2px solid #fff;
    color: #000 !important;
    background-color: #fff;
}

.btn-gray {
    border: 2px solid #ddd;
    background-color: #ddd;
    color: #000;
}

.btn-dark {
    border: 2px solid #18191B;
    background-color: #18191B;
    color: #fff !important;
}

.btn-pheromone {
    border: 2px solid #d3bd98;
    background-color: #d3bd98;
    color: #000 !important;
}

.btn-violet {
    border: 2px solid #933b81;
    background-color: #933b81;
    color: #fff !important;
}

.btn:hover {
    opacity: 0.65;
}

.btn-border:focus, .btn-dark-border:focus, .btn-gray:focus, .btn-border:focus, .btn-white:focus, .btn-pheromone:focus, .btn-violet:focus {
    opacity: 1;
}

a .fa, a .icon {
    text-decoration: none;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.iconsmall {
    font-size: 46px;
    float: left;
    line-height: 54px;
    padding-right: 10px;
}

.icon-big {
    font-size: 80px;
    line-height: 120px;
    display: block;
}

header .icon-big {
    line-height: 140px;
}

.classic {
    font-family: "Great Vibes", sans-serif;
    font-weight: normal;
    text-transform: capitalize;
    letter-spacing: 0;
    margin: 0 0 15px;
    transform: rotate(-4deg) !important;
    -moz-transform: rotate(-4deg) !important;
    -webkit-transform: rotate(-4deg) !important;
}

.bold {
    font-weight: 700;
}

::-moz-selection, ::selection {
    color: #fff;
    background: #000;
}

ul, ol {
    margin-bottom: 1.5em;
}

.fa {
    opacity: .5;
}

a .fa {
    opacity: .5;
}

a .fa:hover {
    opacity: .8;
}

/* NavBar */
.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid #333;
    color: rgba(255, 255, 255, 0.9);
    -webkit-transition: all .8s ease;
    -moz-transition: all .8s ease;
    transition: all .8s ease;
}

.navbar-custom .navbar-brand {
    font-size: 22px;
    letter-spacing: -0.02em;
    text-transform: none;
    padding: 12px 5px 12px 15px;
}

.navbar-custom.top-nav-collapse .navbar-brand {
    font-size: 18px;
    padding-top: 18px;
}

.logo {
    max-width: 100%;
}

.navbar-custom.top-nav-collapse .navbar-brand .logo {
    max-width: 80%;
}

.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}

.navbar-custom .navbar-brand .navbar-toggle:focus, .navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}

.nav > li > a {
    padding: 21px 13px 15px;
}

.navbar-custom a {
    color: #fff;
    font-size: 11px;
    font-weight: 400;
    text-decoration: none;
    letter-spacing: 2px;
}

.navbar-custom .nav li a {
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.navbar-custom .nav li a:hover {
    outline: 0;
    color: #d3bd98;
    background-color: transparent;
}

.navbar-custom .nav .dropdown-menu li a:hover {
    background-color: #000;
}

.navbar-custom .nav li a:focus, .navbar-custom .nav li a:active {
    outline: 0;
    background-color: transparent;
    color: #fff;
}

.navbar-custom .nav li.active {
    outline: 0;
}

.navbar-custom .nav li.active a {
    color: #d3bd98;
}

.navbar-custom .nav li.active a:hover {
    color: #d3bd98;
}

.dropdown-menu {
    background-color: rgba(24, 25, 27, 0.97);
    color: #ccc;
    min-width: 210px !important;
    left: 0;
    right: auto;
    border: 0;
}

.dropdown-menu > li > a {
    padding: 12px 18px;
    white-space: nowrap;
    color: #ddd;
}

.dropdown-menu > .active > a {
    color: #d3bd98;
    background-color: transparent;
}

.dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
    color: #d3bd98;
    background-color: transparent;
}

.nav .open > a {
    background-color: transparent;
    border-color: transparent;
}

.nav .open > a:focus, .nav .open > a:hover {
    background-color: transparent;
    border-color: transparent;
}

.search-form {
    margin: 5px 10px;
    width: 250px;
    font-size: 14px;
}

.search-form .form-control {
    color: #ccc !important;
}

.search-button {
    width: 42px;
    height: 40px;
    line-height: 38px;
    margin-top: -22px;
    position: absolute;
    top: 50%;
    right: 12px;
    overflow: hidden;
    background: transparent;
    border: none;
    outline: none;
}

.search-form {
    padding: 10px;
    width: 100%;
    border-bottom: #555;
    margin: 0;
}

.nav .badge {
    background-color: #d3bd98;
    color: #000;
    padding: 4px 3px 4px 6px;
    font-size: 10px;
    position: absolute;
    margin: -10px -7px;
    line-height: 1;
    border-radius: 50% !important;
    font-weight: 700;
}

.navbar-toggle {
    padding: 10px 0;
}

.navbar-toggle .icon-bar {
    width: 27px;
    border-radius: 0;
    background: #d3bd98;
}

a.btn-nav .btn {
    font-weight: 600 !important;
    margin-bottom: 22px;
}

.navbar-custom .nav .dropdown-menu li a.btn-nav:hover {
    background-color: transparent;
}

.menu-divider {
    width: 1px;
    border-right: 1px solid #777;
    line-height: 18px;
    margin: 23px 15px 0;
}

.dropdown-menu strong {
    padding: 20px 0 16px 18px;
    display: block;
    font-size: 13px;
    font-weight: 400;
    line-height: 1px;
}

.nav .active {
    height: auto !important;
}

.dropdown-menu {
    padding: 10px 0;
}

.navbar-nav:not(.sm-collapsible) ul .caret {
    position: absolute;
    right: 0;
    margin-top: 6px;
    margin-right: 15px;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px dashed;
}

.navbar-nav:not(.sm-collapsible) ul a.has-submenu {
    padding-right: 30px;
}

.navbar-nav.sm-collapsible .caret, .navbar-nav.sm-collapsible ul .caret {
    position: absolute;
    right: 0;
    margin: -25px 14px 0 0;
    padding: 0;
    width: 32px;
    height: 26px;
    line-height: 24px;
    text-align: center;
    border-width: 1px;
    border-style: solid;
}

.navbar-nav.sm-collapsible .caret:before {
    content: '+';
    font-family: monospace;
    font-size: 20px;
}

.navbar-nav.sm-collapsible .open > a > .caret:before {
    content: '-';
}

.navbar-nav.sm-collapsible a.has-submenu {
    padding-right: 50px;
}

.navbar-nav.sm-collapsible[data-sm-skip-collapsible-behavior] .caret, .navbar-nav.sm-collapsible[data-sm-skip-collapsible-behavior] ul .caret {
    position: static;
    margin: 0 0 0 2px;
    padding: 0;
    width: 0;
    height: 0;
    border-top: 4px dashed;
    border-right: 4px solid transparent;
    border-bottom: 0;
    border-left: 4px solid transparent;
}

.navbar-nav.sm-collapsible[data-sm-skip-collapsible-behavior] .caret:before {
    content: '' !important;
}

.navbar-nav.sm-collapsible[data-sm-skip-collapsible-behavior] a.has-submenu {
    padding-right: 15px;
}

.navbar-nav span.scroll-up, .navbar-nav span.scroll-down {
    position: absolute;
    display: none;
    visibility: hidden;
    height: 20px;
    overflow: hidden;
    text-align: center;
}

.navbar-nav span.scroll-up-arrow {
    position: absolute;
    top: -2px;
    right: 50%;
    margin-right: -8px;
    width: 0;
    height: 0;
    overflow: hidden;
    border-top: 7px dashed transparent;
    border-right: 7px dashed transparent;
    border-bottom: 7px solid;
    border-left: 7px dashed transparent;
}

.navbar-nav span.scroll-down-arrow {
    position: absolute;
    top: -2px;
    left: 50%;
    margin-right: -8px;
    width: 0;
    height: 0;
    overflow: hidden;
    border-top: 7px dashed transparent;
    border-right: 7px dashed transparent;
    border-bottom: 7px solid;
    border-left: 7px dashed transparent;
    top: 6px;
    border-top: 7px solid;
    border-right: 7px dashed transparent;
    border-bottom: 7px dashed transparent;
    border-left: 7px dashed transparent;
}

.navbar-nav.sm-collapsible ul .dropdown-menu > li > a, .navbar-nav.sm-collapsible ul .dropdown-menu .dropdown-header {
    padding-right: 35px;
}

.navbar-nav.sm-collapsible ul ul .dropdown-menu > li > a, .navbar-nav.sm-collapsible ul ul .dropdown-menu .dropdown-header {
    padding-right: 45px;
}

.navbar-nav.sm-collapsible ul ul ul .dropdown-menu > li > a, .navbar-nav.sm-collapsible ul ul ul .dropdown-menu .dropdown-header {
    padding-right: 55px;
}

.navbar-nav.sm-collapsible ul ul ul ul .dropdown-menu > li > a, .navbar-nav.sm-collapsible ul ul ul ul .dropdown-menu .dropdown-header {
    padding-right: 65px;
}

.navbar-nav .dropdown-menu > li > a {
    white-space: normal;
}

.navbar-nav ul.sm-nowrap > li > a {
    white-space: nowrap;
}

.navbar-nav.sm-collapsible ul.sm-nowrap > li > a {
    white-space: normal;
}

.navbar-right ul.dropdown-menu {
    left: auto;
    right: 0;
}

.dropdown-menu .fa {
    opacity: 0.5 !important;
    margin-right: 4px;
    font-size: 13px;
}

.nav .lang {
    border: 1px solid #ddd;
    padding: 5px 8px;
}

.nav .fa {
    font-size: 16px;
}

.nav .fa-angle-down {
    font-size: 13px;
}

.nav .fa, .nav a .fa {
    opacity: 1;
}

.nav .fa-plus {
    font-size: 12px;
}

@media (max-width: 768px) {
    .navbar-custom {
        background-color: #18191B;
    }
}

@media (min-width: 991px) {
    .search-form input {
        background: transparent;
        border: 0;
        width: 200px;
    }

    .navbar-custom {
        padding: 30px;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        background: transparent;
    }

    .navbar-custom.top-nav-collapse {
        padding: 0 30px;
        background-color: #18191B;
    }

    @-webkit-keyframes fadeInPheromone {
        0% {
            opacity: 0;
            transform: translate(0, -40px);
        }
        100% {
            opacity: 1;
            transform: translate(0, 0);
        }
    }
    @keyframes fadeInPheromone {
        0% {
            opacity: 0;
            transform: translate(0, -40px);
        }
        100% {
            opacity: 1;
            transform: translate(0, 0);
        }
    }
    li:hover ul.dropdown-menu {
        opacity: 1;
        -webkit-animation: fadeInPheromone 0.7s;
        animation: fadeInPheromone 0.7s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }

    ul.nav li.dropdown:hover > ul.dropdown-menu {
        display: block;
    }

    .navbar-left {
        float: right !important;
    }

    ul.dropdown-menu.columns-2 {
        right: 0 !important;
        padding: 20px 22px 25px;
    }

    ul.dropdown-menu.columns-3 {
        right: 0 !important;
        padding: 20px 22px 25px;
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
        min-width: 760px !important;
    }

    ul.dropdown-menu.columns-2 {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
        min-width: 380px !important;
    }

    .columns2 .btn-white, .columns3 .btn-white {
        margin-top: 12px;
        display: inline-block;
    }

    .caret, .open > .dropdown-menu {
        display: none;
    }

    .angle-right:after {
        float: right;
        font-family: 'fontawesome';
        content: "\f105";
        color: inherit;
        position: absolute;
        right: 20px;
    }
}

@media (max-width: 991px) {
    .dropdown-menu {
        padding: 0;
    }
}

@media (max-width: 990px) {
    p.empty {
        display: none;
    }

    .search-button {
        margin-top: 0;
    }

    .nav .badge {
        margin: 2px 4px;
    }

    .nav a {
        border-bottom: 1px solid rgba(255, 255, 255, 0.05) !important;
    }

    .nav a:focus {
        border-bottom: 1px solid rgba(255, 255, 255, 0.05) !important;
    }

    .navbar-header {
        float: none;
    }

    .navbar-left, .navbar-right {
        float: none !important;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }

    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-nav {
        float: none !important;
        margin-top: 7px;
    }

    .navbar-nav > li {
        float: none;
    }

    .navbar-nav > li > a {
        padding-top: 14px;
        padding-bottom: 14px;
    }

    .collapse.in {
        display: block !important;
    }

    .navbar-collapse.in {
        overflow-y: auto !important;
    }

    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        box-shadow: none;
    }

    .navbar-nav .open .dropdown-menu > li > a, .navbar-nav .open .dropdown-menu .dropdown-header {
        padding: 10px 15px 10px 25px;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #999;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #fff;
        background-color: transparent;
        background-image: none;
    }
}

.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
    max-height: 400px;
}

@media (max-width: 768px) {
    body {
        letter-spacing: 0;
    }

    .h4, h4 {
        font-size: 16px;
    }

    .h2, h2 {
        font-size: 24px;
    }

    .h3, h3 {
        font-size: 20px;
    }

    .pi-header h1 {
        font-size: 36px;
        line-height: 46px;
    }

    .pi-header h1.classic {
        font-size: 60px;
        line-height: 60px;
        margin: 50px 0 50px;
    }

    section, .section {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .section-small {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .portfolio-sorting li a {
        margin: 0;
        letter-spacing: 0;
    }

    .shop-item img {
        width: 100%;
    }
}

@media (max-width: 992px) {
    .action {
        text-align: center;
    }

    .action .btn {
        float: none;
        margin-top: 30px;
        text-align: center;
    }

    .action .text-right {
        text-align: center;
    }

    section {
        background-attachment: scroll !important;
        background-position: 50% 50% !important;
    }

    .search-button {
        margin-top: 5px;
    }

    .dropdown-menu .search-button .fa {
        opacity: 1 !important;
    }

    .nav li a {
        -webkit-transition: all .0s ease-in-out !important;
        -moz-transition: all .0s ease-in-out !important;
        transition: all .0s ease-in-out !important;
    }
}

@media (max-width: 1200px) {
    #about, #about-slider, #about-slider2 {
        text-align: center;
    }

    #carousel-light, #carousel-light2, #carousel-light3, #carousel-dark, #carousel-transparent {
        margin: 45px 0;
    }
}

/* Magic background */
.magic {
    position: absolute;
    width: 100%;
    z-index: -1;
}

/* Stop animation on mobile devices */
@media (max-width: 800px) {
    .wow {
        animation-name: none !important;
        visibility: visible !important;
    }
}